.todo-item {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: whitesmoke;
    margin: 8px 0;
    box-shadow: 5px 5px 10px rgba(14, 23, 2, 0.7);
    border-radius: 8px;
}

li p.todo-item-p {
    margin-inline: auto;
}

li p.todo-item-p--complete {
    text-decoration: line-through;
}