button {
    background-color: #363636;
    border: none;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    aspect-ratio: 1/1;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: auto;
}

button:hover {
    cursor: pointer;
}