button {
    background-color: #363636;
    border: none;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: rotate(0deg);
    transition: 0.3s ease;
    position: absolute;
    right: 16px;
    top: 0;
}

button:hover {
    cursor: pointer;
    transform: rotate(45deg);
}