input.input_search {
    width: 100%;
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    outline: #424554 solid 1px;
    border-radius: 4px;
    background-color: white;
}

input.input_search::placeholder {
    color: #424554;
}

input.input_search:hover {
    outline: none;
    border: rgb(0,212,255 ) solid 1px;
    background-color: #ffffff;
    color: #424554;
}
input.input_search:focus {
    outline: none;
    border: rgb(0,212,255 ) solid 1px;
    background-color: #ffffff;
    color: #424554;
}